body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 800px;
}

div{
    display: block;
    margin: 10px 0;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#valor-seguro {
    font-weight: bold;
    margin: 10px 0;
}
